.example-spacer {
    flex: 1 1 auto;
  }

  .example-icon {
    padding: 0 14px;
  }

  .container{
      margin:20px 40px
  }

 
.nohistory{
  text-align: center;
  background-color: #ececec;
  margin: 20px 0;
}